.mainContainer {
  width: 100%;
}

.contentContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 70rem;
  padding: 0 16px;
}

.productCardsContainer {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.9rem;
  margin-bottom: 1.5rem;
}

.centerMessage {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  color: gray;
  margin-top: 4rem;
}

@media (max-width: 768px) {
  .productCardsContainer {
    flex-direction: column;
  }
}
