.mainContainer {
  width: 100%;
  margin-top: 3rem;
}

.contentContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 64rem;
}

.sectionHeader {
  text-transform: uppercase;
  color: gray;
  font-size: 14px;
  font-weight: 500;
}

.storeDetails {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.storeCards {
  margin-top: 1.5rem;
  display: flex;
  gap: 16px;
}

.storeCard {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid gainsboro;
  padding: 16px 24px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.storeCard:hover {
  border-color: #dd2928;
  box-shadow: 0 4px 10px rgba(221, 41, 40, 0.15);
  transform: translateY(-2px);
}

.storeEmblemContainer {
  width: 48px;
  height: 48px;
  background-color: #fdeaeb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.storeEmblem {
  color: #dd2928;
}

.leftSide {
  display: flex;
  gap: 16px;
  align-items: center;
}

.storeTitle {
  font-size: 14px;
  font-weight: 700;
}

.storeAddress,
.productsTracked {
  font-size: 12px;
  color: gray;
}

.productsTracked {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chevronRight {
  color: gray;
}

.storeCard:hover .chevronRight {
  color: #dd2928;
}

.reportStockButtonContainer {
  margin-top: 1.5rem;
}

.reportStockButton {
  background-color: #dd2928;
  color: white;
  transition:
    background-color 0.2s,
    transform 0.1s;
}

.reportStockButton:hover {
  background-color: #eb5050;
}

.reportStockButton:active {
  background-color: #eb5050;
  transform: scale(0.95); /* shrink slightly */
  box-shadow: none; /* remove shadow if any */
}

@media (max-width: 1024px) {
  .mainContainer {
    padding: 0 16px;
  }
}
