.productCard {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 0.5px solid gainsboro;
  padding: 16px 24px;
  border-radius: 12px;
  width: 49%;
  box-sizing: border-box;
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}

.brandData {
  font-size: 12px;
  color: gray;
}

.productSubDetails {
  display: flex;
}

.productMetadata {
  display: flex;
}

.leftSide {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.imageContainer {
  height: 100px;
  width: 100px;
}

.stockImage {
  border-radius: 8px;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.productHeader {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.statusWrapper {
  display: flex;
  justify-content: flex-end;
  width: 110px;
}

.stockPill {
  font-size: 12px;
  padding: 2px 12px;
  border-radius: 12px;
  height: 20px;
}

.productMainDetails {
  display: flex;
  justify-content: space-between;
}

.productSubDetails {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.price {
  font-size: 14px;
  font-weight: 700;
}

.category {
  background-color: rgb(245, 245, 245);
  color: gray;
  padding: 2px 12px;
  border-radius: 12px;
  font-size: 12px;
}

.productMetadata {
  font-size: 12px;
  display: flex;
  gap: 0.6rem;
}

.location,
.time {
  display: flex;
  align-items: center;
  gap: 4px;
  color: gray;
}

.productCard:hover .productHeader {
  color: #dd2928;
}

.inStock {
  color: #20c45d;
  background-color: #e5f7e9;
}

.lowStock {
  color: #a16207;
  background-color: #fef9c3;
}

.outOfStock {
  color: #dd2928;
  background-color: #fdeaeb;
  width: 100px;
}

.noReports {
  color: #4b5563;
  background-color: #f3f4f6;
  width: 90px;
}

@media (max-width: 768px) {
  .productCard {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .productCard {
    padding: 16px;
  }

  .stockPill {
    font-size: 10px;
    padding: 2px 8px;
  }

  .productMetadata {
    font-size: 10px;
  }

  .outOfStock {
    width: 80px;
  }

  .category {
    /* width: 150px; */
    width: fit-content;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
